/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  padding: 10px;
  color: #fff;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#searchInput {
  width: 600px;
  height: 50px;
  font-size: large;
  border-radius: 15px;
  border: 1px solid #ccc;
  padding-left: 10px;
  padding-right: 10px;
}

/* Navigation styles */
nav {
  background-color: #07bd07;
  padding: 12px;
  border-radius: 15px;
}

nav a {
  margin-right: 10px;
  position: relative;
  /* Added position relative for tooltip positioning */
}

nav #svgLogout,
nav #svgCart {
  transition: transform 0.3s ease;
  /* Smooth transition for transform property */
}

/* Scale the image on hover to create a pop-out effect */
nav #svgLogout:hover,
nav #svgCart:hover {
  transform: scale(1.3);
}

/* Tooltip styles */
nav a:hover::after {
  content: attr(data-tooltip);
  /* Show the data-tooltip content when hovered */
  position: absolute;
  top: calc(100% + 15px);
  /* Position the tooltip below the icons */
  left: 50%;
  transform: translateX(-50%);
  font-size: large;
  color: #007bff;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  padding: 5px 10px;
  white-space: nowrap;
}

#marquee {
  background-color: #007bff;
  color: yellow;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#marquee marquee {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main content styles */
.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}

.mrp {
  color: #333;
  font-size: small;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* Adjusted image grid size */
  gap: 20px;
}

.product-card {
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-card:hover {
  transform: scale(1.1);
}

.product-card img {
  width: 120px;
  height: 120px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.prod-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.prod-price {
  color: #007bff;
  font-size: 16px;
  font-weight: bold;
}

/* Footer styles */
footer {
  height: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 10px;
}

/* Center the table */
.table-container {
  display: flex;
  justify-content: center;
  background-color: #e7f1ff;
}

.menu {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu:hover {
  color: #007bff;
  cursor: pointer;
}

/* Reduce space of list items in table */
.menu-table {
  width: 50%;
}

.menu-table td {
  padding: 5px;
}
